/* display: flex | inline-flex */


/* flex-direction: row | row-reverse | column | column-reverse */


/* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly */


/* align-items: flex-start | flex-end | center | stretch | baseline */


/*flex-wrap: nowrap | wrap | wrap-reverse*/


/*flex-flow: flex-direction || flex-wrap */


/*align-content: stretch | flex-start | flex-end | center | space-around | space-between*/


/*flex-basis = (5em, 4rem, 48%, 200px); min-width = 20px; max-width = 1000xp;
height, min-height, max-height), если свойство flex-direction имеет значение column*/


/*flex-grow: 1; flex-shrink: 1; flex: flex-grow flex-shrink flex-basis;*/

div.flexBox {
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    min-width: 400px;
    margin: 2%;
    background-color: blue;
}

div.flexBox div.columnInFlexBox {
    flex-basis: 30%;
    min-width: 100px;
    /*Колоны должни быть 350px или растягиватся, и если да то насколько?*/
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

div.flexBox div.columnInFlexBox div.rowInColumnInFlexBox {
    justify-content: flex-start;
    margin-top: 20px;
    background-color: cyan;
}

div.flexBox div.columnInFlexBox div.rowInColumnInFlexBox img {
    width: 100%;
}

div.flexBox div.columnInFlexBox div.rowInColumnInFlexBox h4 {
    margin: 10px;
}

div.flexBox div.columnInFlexBox div.rowInColumnInFlexBox p {
    margin: 10px;
}